<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1><%= title %></h1>

    <div>
        <% messages.forEach((message,index) => { %>
            <div>
                <h2>by <%= message.user %> <%= message.added %></h2>
                <p><%= message.text %></p>
                <input class="Button_Detail" value="OpenDetail" type="button" data-idMassage=<%= index %>>
            </div>
        <% }) %>
    </div>

    <h2>Add your own massage?</h2>
    <a href="new">Create Own post</a>
    <script src="Controller.js"></script>
</body>
</html>